!!! 5
%html
  %head
    %link(rel="stylesheet" type="text/css" href="style.css")
    %script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    %script(type="text/javascript" src="jquery.history-v1.7.1-r2.js")
    :javascript
      var CURRENT_QUOTE = #{Yajl::Encoder.encode @quote};
    %script(type="text/javascript" src="script.js")
    %title Programming Quotes
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-12994604-4']);
      _gaq.push(['_setDomainName', 'programming-quotes.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    #fb-root
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    .fb-like(data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="arial")
    #container
      #tweet-button
      %blockquote
        %p.quote &#8220;
        %p.content
        %p.author
