!!! 5
%html
  %head
    %link(rel="stylesheet" type="text/css" href="style.css")
    %title Programming Quotes
  %body
    #container
      %blockquote
        %p.quote &#8220;
        %p.content= @quote[:c].gsub($/, "<br>")
        %p.author= @quote[:a] || "Anonymous"
