html {min-height: 100%}

body {
  background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #425370 100%);
  background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #425370 100%);
  background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #425370 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #425370));
  background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #425370 100%);
  background-image: linear-gradient(bottom, #FFFFFF 0%, #425370 100%);
  background-color: #425370;
  color: #353535;
  font: 2.6em/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#container {height: 100%}

blockquote {
  font-weight: bold;
  margin-top: 300px;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  display: none;
}

.content {
  font-size: 32px;
  line-height: 1.2;
}

.quote {
  font-size: 250px;
  float: left;
  margin-top: -95px;
  padding-right: 10px;
}

.author {
  text-align: right;
  font-size: 20px;
  margin-top: -20px;
  color: #454545;
}

.author:before {content: '\2014    ';}
