@import "compass/reset";
@import "compass/css3/box-sizing";
@import "compass/css3/transition";
@import "compass/css3/border-radius";

html { min-height: 100%; }
body { background-color: white; color: black; }
a { color: inherit; text-decoration: inherit; outline: 0; }
strong   { font-weight: bolder; }
* { @include box-sizing(border-box); }

.quote {
  cite { white-space: nowrap; }
}

#themes {
  position: absolute; top: 90px; right: 40px;
  z-index: 42;
  opacity: 0.7;
  &, ul { @include single-transition(opacity, 300ms, ease-in-out); }

  ul {
    text-align: right;
    min-width: 100px;
    opacity: 0.5;
    
    li {
      display: inline-block;
      height: 30px;
      & + li { margin-left: 5px; }
  
      a {
        cursor: pointer;
        img { border: 1px solid rgba(black, .5); }
      }
    }
  }
  &:hover { opacity: 1; }
  &:hover ul { opacity: 1; }
}

#container {
  overflow: hidden;
  width: 75%;
  margin: 0 auto;
}

#template { display: none; }

#toolbar {
  $w: 180px;
  overflow: hidden;
  height: 60px;
  width: $w;
  position: absolute; bottom: 15px; left: 50%; margin-left: -$w / 2;
  line-height: 60px;
  text-align: center;

  a {
    @include border-radius(50px);
    border: 1px solid white;
    width: 50px; height: 50px;
    display: inline-block;
    background-color: rgba(black, .1);
    background-position: center;
    background-repeat: no-repeat;
  }
  a.play {
    width: 60px; height: 60px;
    background-image: inline-image("control-pause.png");
    &.paused { background-image: inline-image("control-play.png"); }
  }

  .bx-prev {
    float: left; margin-top: 5px;
    background-image: inline-image("control-prev.png");
  }

  .bx-next {
    float: right; margin-top: 5px;
    background-image: inline-image("control-next.png");
  }

  &.first-quote .bx-prev,
  &.last-quote .bx-next { visibility: hidden; }
}
