@import "compass/reset";
@import "compass/css3/box-sizing";
@import "compass/css3/transition";
html { min-height: 100%; }
body { background-color: white; color: black; }
blockquote { display: none; }
a { color: inherit; text-decoration: inherit; outline: 0; }
strong   { font-weight: bolder; }
* { @include box-sizing(border-box); }

#themes {
  position: absolute; top: 90px; right: 40px;
  opacity: 0.7;
  &, ul { @include single-transition(opacity, 300ms, ease-in-out); }

  ul {
    text-align: right;
    min-width: 100px;
    opacity: 0.5;
    
    li {
      display: inline-block;
      height: 30px;
      & + li { margin-left: 5px; }
  
      a {
        cursor: pointer;
        img { border: 1px solid rgba(black, .5); }
      }
    }
  }
  &:hover { opacity: 1; }
  &:hover ul { opacity: 1; }
}
